.logo {
    display: flex;
    margin-right: auto;
    align-items: center;
    gap: 1rem;
}

.image__inverted {
    filter: invert(100%);
}

.nav__link {
    font-weight: 600;
    text-transform: uppercase;
    margin-inline: .7rem;
    padding: .5rem 1.1rem;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}

::-webkit-scrollbar {
    display: none;
}